<% if (!session.cookieConsent) { %>
<div
  id="cookie-banner"
  style="
    background: #0b2a46;
    color: #fff;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    box-shadow: -1px -9px 10px rgb(255 255 255);"
    
>
  <p>
    Wir verwenden Cookies für Analyse und Marketing. Es werden keine
    persönlichen Daten gespeichert. Für das Nutzen des ChatBots ist es Erforderlich, dass deine Fragen gespeichert werden.
    <a href="/datenschutz" style="color: #e94a1b;">Datenschutzvereinbarung</a>
  </p>
  <button
    id="accept-all"
    style="
      background: #e94a1b;
      color: #0b2a46;
      border: none;
      padding: 0.5rem 1rem;
      margin: 0 0.5rem;
    "
  >
    Alles akzeptieren
  </button>
  <button
    id="accept-necessary"
    style="
      background: #fff;
      color: #0b2a46;
      border: 1px solid #0b2a46;
      padding: 0.5rem 1rem;
      margin: 0 0.5rem;
    "
  >
    Nur Notwendiges
  </button>
</div>
<% } %>
<script src="/js/cookie-consent.js" defer></script>
