<header>
  <div class="topWhiteGradient">
    <div class="topWhiteGradients"></div>

    <div class="hero-nav">
      <div class="navigation" id="navigation" aria-label="Komplett Webdesign">
        <a href="/" class="logo" aria-label="Zur Startseite">
          <img src="/images/LogoTransparent.webp" alt="Icon um zur Startseite zu kommen" role="presentation" />
        </a>
        <div class="nav-right">
          <img src="/images/Nav-Bar-Icon.svg" alt="Menu Icon" class="menu-icon" id="menu-icon" />
          <div class="links heroLinks" id="nav-links">
            <a href="/">Home</a>
            <a href="/kontakt">Kontakt</a>
            <a href="/pakete">Preise</a>
            <nav class="main-nav">
              <ul>
                <li class="dropdown">
                  <div class="dropdown-toggle">
                    <button class="dropdown-toggle-btn" type="button" aria-label="Webdesign Berlin Untermenü öffnen">
                      ▾
                    </button>
                    <a href="/webdesign-berlin">Webdesign Berlin</a>
                  </div>
                  <ul class="dropdown-menu">
                    <li><a href="/webdesign-berlin/kreuzberg" class="main-color">Kreuzberg</a></li>
                    <li><a href="/webdesign-berlin/friedrichshain" class="main-color">Friedrichshain</a></li>
                    <li><a href="/webdesign-berlin/charlottenburg" class="main-color">Charlottenburg</a></li>
                    <li><a href="/webdesign-berlin/lichtenberg" class="main-color">Lichtenberg</a></li>
                    <li><a href="/webdesign-berlin/mitte" class="main-color">Mitte</a></li>
                    <li><a href="/webdesign-berlin/prenzlauer-berg" class="main-color">Prenzlauer-Berg</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
            <nav class="main-nav">
              <ul>
                <li class="dropdown">
                  <div class="dropdown-toggle">
                    <button class="dropdown-toggle-btn" type="button" aria-label="Branchen Untermenü öffnen">
                      ▾
                    </button>
                    <a href="/branchen">Branchen</a>
                  </div>
                  <ul class="dropdown-menu">
                    <% navPages.forEach(page=> { %>
                    <li><a href="/<%= page.slug %>" class="main-color">
                        <%= page.nav %>
                      </a></li>
                    <% }) %>
                    <li><a href="/branchen/webdesign-cafe" class="main-color">Café</a></li>
                    <li><a href="/branchen/webdesign-blumenladen" class="main-color">Blumenladen</a></li>
                  </ul>
                </li>
              </ul>
            </nav>
            <a href="/ratgeber">Ratgeber</a>
            <a href="/blog">Blog</a>
            <a href="/kontakt" class="btn btn-tertiary">Termin buchen</a>
            <!-- <a href="/reservation" class="reserve-button">Reservierung</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>