<header>
  <div class="topWhiteGradient">
    <div class="topWhiteGradients"></div>

    <div class="hero-nav">
      <div class="navigation" id="navigation" aria-label="Komplett Webdesign">
        <a href="/" class="logo">
          <img src="/images/LogoTransparent.webp" alt="" role="presentation" />
        </a>
        <div class="nav-right">
          <img src="/images/Nav-Bar-Icon.svg" alt="Menu Icon" class="menu-icon" id="menu-icon" />
          <div class="links heroLinks" id="nav-links">
            <a href="/">Home</a>
            <a href="/kontakt">Kontakt</a>
            <a href="/about">Über mich</a>
            <a href="/blog">Blog</a>
            <a href="/pakete">Preise</a>
            <a href="/faq">FAQ</a>
            <nav class="main-nav">
              <ul>
                <li class="dropdown">
                  <a href="#">Branchen ▾</a>
                  <ul class="dropdown-menu">
                    <% navPages.forEach(page=> { %>
                      <li><a href="/<%= page.slug %>" class="main-color">
                          <%= page.nav %>
                        </a></li>
                      <% }) %>
                  </ul>
                </li>
              </ul>
            </nav>
            <a href="/kontakt" class="btn btn-tertiary">Termin buchen</a>
            <!-- <a href="/reservation" class="reserve-button">Reservierung</a> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</header>