<!-- views/partials/newsletter_form.ejs -->


<form action="/newsletter/signup" method="POST" class="newsletter-form">
  <div class="mb-3">
    <label for="newsletterEmail" class="form-label">E-Mail-Adresse</label>
    <input type="email" name="email" id="newsletterEmail" class="form-control" placeholder="Deine E-Mail" required>
  </div>
  <button type="submit" class="btn btn-primary w-100">Anmelden</button>
</form>
