<%- include('partials/head') %>
<%- include('partials/header', {title: "404"})  %>

<body class="center">
  <div style="padding: 100px 0;">
    <h1>404 - Seite nicht gefunden</h1>
    <p>Leider konnte die Seite "<%= path %>" nicht gefunden werden.</p>
    <p>Das ist ja echt blöd gelaufen.</p>
    <a href="/"><button class="btn btn-tertiary">Erstmal zurück zur Startseite</button></a>
  </div>

</body>

<%- include('partials/footer') %>