<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= pageTitle %></title>
</head>
<body>
  <h1>404 - Seite nicht gefunden</h1>
  <p>Leider konnte die Seite "<%= path %>" nicht gefunden werden.</p>
  <a href="/">Zur Startseite</a>
</body>
</html>