<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/styles.css?v=<%= Date.now() %>" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header>
      <div class="hero-nav">
        <div class="container">
          <div class="navigation" id="navigation">
            <a href="/" class="logo">
              <img
                src="/images/LogoTransparent.svg"
                alt="Komplett Webdesign Logo"
              />
            </a>
            <div class="nav-right">
              <img
                src="/images/Nav-Bar-Icon.svg"
                alt="Menu Icon"
                class="menu-icon"
                id="menu-icon"
              />
              <div class="links heroLinks" id="nav-links">
                <a href="/geschichte">Geschichte</a>
                <a href="/blog">Aktuelles</a>
                <a href="/menu">Getränkekarte</a>
                <a href="/eventbuchung">Feier buchen</a>
                <a href="/termin-buchen" class="btn-tertiary">Termin buchen</a>
                <!-- <a href="/reservation" class="reserve-button">Reservierung</a> -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <main>
      <!-- Hero-Section -->
      <section class="hero">
        <div class="section">
          <div class="container">
            <div class="hero-flex">
              <div class="hero-content">
                <h1>
                  Ich erstelle dir in kurzer Zeit deine professionelle Website.
                </h1>
                <p>
                  > Optimiert für alle Endgeräte
                  <br />
                  > Mit einem modernen Design
                  <br />
                  > Für Selbstständige, Unternehmen und Privatpersonen
                </p>
                <div class="hero-ctas">
                  <a href="/termin-buchen" class="btn btn-primary"
                    >Termin buchen</a
                  >
                  <a href="/kontakt" class="btn btn-secondary">Kontakt</a>
                </div>
              </div>
              <div class="hero-image">
                <img
                  src="/images/heroImageBlue.jpg"
                  alt="Webdesign Illustration"
                />
              </div>
            </div>
          </div>
        </div>
      </section>

      <!-- Hier könnten später die Feature-Blöcke und Preise folgen -->
    </main>
    <script src="/js/navToggle.js"></script>
  </body>
</html>
