<style>
    td p span span strong,
    th p span span strong,
    th p span span,
    td p span span {
        font-size: small;
    }

    img,
    svg {
        vertical-align: middle;
        max-width: 100%;
        height: auto;
    }
</style>
<div class="section bgWhite">
    <div class="container">
        <h2 style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:24px;"><span lang="de-DE"
                    dir="ltr"><strong>Der Agentenmodus – Ihr digitaler Assistent auf
                        KomplettWebdesign</strong></span></span>
        </h2>
        <p>
            &nbsp;
        </p>
        <h4 style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="font-family:Arial, Helvetica, sans-serif;font-size:18.67px;"><span lang="de-DE"
                    dir="ltr"><strong>0 |
                        Worum geht es hier genau?</strong></span></span>
        </h4>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE" dir="ltr">Viele
                    Nutzer
                    googeln aktuell Fragen wie</span></span>
        </p>
        <ul style="list-style-type:disc;">
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                            dir="ltr">„Wie
                            funktioniert der ChatGPT Agentenmodus?“</span></span>
                </p>
            </li>
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                            dir="ltr">„Agentenmodus ChatGPT Erklärung“</span></span>
                </p>
            </li>
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                            dir="ltr">„Was
                            kann ich mit dem Agentenmodus von ChatGPT machen?“</span></span>
                </p>
            </li>
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                            dir="ltr">„Agentenmodus Anleitung Schritt für Schritt“</span></span>
                </p>
            </li>
        </ul>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE" dir="ltr">Auf
                    KomplettWebdesign.de finden Sie alle Antworten – praxisnah + bebildert. Wir erklären nicht nur die
                    Theorie,
                    sondern zeigen live, wie unser Assistent:</span></span>
        </p>
        <ul style="list-style-type:disc;">
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                            dir="ltr">Webseiten öffnet</span></span>
                </p>
            </li>
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                            dir="ltr">Formulare automatisch ausfüllt</span></span>
                </p>
            </li>
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                            dir="ltr">Termine
                            bucht</span></span>
                </p>
            </li>
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                            dir="ltr">Dateien
                            (.ICS, PDF, CSV) herunterlädt</span></span>
                </p>
            </li>
        </ul>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE" dir="ltr">So wird
                    aus
                    einer trockenen Definition ein konkretes Tutorial, das Sie sofort nachmachen können.</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            &nbsp;
        </p>
        <h3 style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18.67px;"><span lang="de-DE"
                    dir="ltr"><strong>1 | Was bedeutet „Agentenmodus“ überhaupt?</strong></span></span>
        </h3>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Stellen Sie sich vor, Sie hätten einen persönlichen Assistenten, der live in Ihrem Namen
                    durchs
                    Web navigiert – Formulare ausfüllt, Dateien herunterlädt, zwischen Seiten wechselt und Ihnen jeden
                    Zwischenschritt erklärt. Genau das leistet der Agentenmodus (engl. browser-based agent
                    mode).</span></span>
        </p>
        <ul style="list-style-type:disc;">
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                            lang="de-DE" dir="ltr">Interaktiv: Der Assistent klickt, scrollt, tippt und reagiert in
                            Echtzeit.</span></span>
                </p>
            </li>
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                            lang="de-DE" dir="ltr">Kontextbewusst: Er merkt sich frühere Angaben und füllt Felder
                            automatisch
                            aus.</span></span>
                </p>
            </li>
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                            lang="de-DE" dir="ltr">Visuell: Sie sehen jeden Schritt (z. B. auf Screenshots oder im
                            Livestream).</span></span>
                </p>
            </li>
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                            lang="de-DE" dir="ltr">Reproduzierbar: Alle Aktionen werden protokolliert und lassen sich
                            nachvollziehen.</span></span>
                </p>
            </li>
        </ul>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Kurz: Der Agentenmodus ist ChatGPTs „Robotic Process Automation“ – nur ohne komplizierte
                    Scripts
                    oder teure Enterprise-Software.</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            &nbsp;
        </p>
        <h3 style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18.67px;"><span lang="de-DE"
                    dir="ltr"><strong>2 | Welche Möglichkeiten eröffnet das?</strong></span></span>
        </h3>
        <figure class="table" style="margin-left:-20px;margin-right:auto;width: 100%;min-width: 300px;">
            <table style="border-collapse:separate;border-color:#bfbfbf;border-spacing:5px;border-style:solid;">
                <thead>
                    <tr>
                        <th style="border-color:#bfbfbf;height:75.6px;padding:1px;vertical-align:middle;width:151.2px;"
                            scope="col">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:18.67px;"><span
                                        lang="de-DE" dir="ltr"><strong>Komponente</strong></span></span>
                            </p>
                        </th>
                        <th style="border-color:#bfbfbf;height:75.6px;padding:1px;vertical-align:middle;width:160.67px;"
                            scope="col">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:18.67px;"><span
                                        lang="de-DE" dir="ltr">Aufgabe im Agentenmodus</span></span>
                            </p>
                        </th>
                        <th style="border-color:#bfbfbf;height:75.6px;padding:1px;vertical-align:middle;width:333.2px;"
                            scope="col">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:18.67px;"><span
                                        lang="de-DE" dir="ltr">Erklärung</span></span>
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:151.2px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Headless-Browser</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:160.67px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Klick- &amp; Scroll-Automatisierung</span></span>
                            </p>
                        </td>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:333.2px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Der Agent steuert Chrome/Chromium programmatisch –
                                        sichtbar im
                                        Chat.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:151.2px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>DOM-Analyse</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:160.67px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Pflichtfelder erkennen</span></span>
                            </p>
                        </td>
                        <td
                            style="border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:333.2px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">HTML-Elemente werden gescannt, Labels+Input
                                        verknüpft.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:151.2px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Memory &amp; Context</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:160.67px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Voreingaben merken</span></span>
                            </p>
                        </td>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:333.2px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">ChatGPT speichert Namen, E-Mail etc. und setzt sie später
                                        wieder
                                        ein.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:151.2px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Safety-Layer</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:160.67px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Aktionen bestätigen</span></span>
                            </p>
                        </td>
                        <td
                            style="border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:333.2px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Jede „kritische“ Aktion benötigt Ihr Ja
                                        bitte.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:151.2px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>File-Proxy</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:160.67px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Downloads ausliefern</span></span>
                            </p>
                        </td>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:333.2px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">.ICS, PDF, ZIP werden im sicheren Sandbox-Ordner
                                        gespeichert und via Chat
                                        verlinkt.</span></span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </figure>
        <h3 style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            &nbsp;
        </h3>
        <h3 style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18px;"><span lang="de-DE"
                    dir="ltr"><strong>Was kann mit dem Agentenmodus von ChatGPT machen?</strong></span></span>
        </h3>
        <figure class="table" style="margin-left:0px;margin-right:auto;width: 100%;min-width: 300px;">
            <table style="border-collapse:separate;border-color:#bfbfbf;border-spacing:5px;border-style:solid;">
                <thead>
                    <tr>
                        <th style="border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:189px;"
                            scope="col">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span
                                    style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18.67px;"><span
                                        lang="de-DE" dir="ltr"><strong>Alltagsszenario</strong></span></span>
                            </p>
                        </th>
                        <th style="border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:491.33px;"
                            scope="col">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span
                                    style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18.67px;"><span
                                        lang="de-DE" dir="ltr">So hilft der Agentenmodus</span></span>
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span
                                    style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Terminbuchung</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:491.33px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span
                                    style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Öffnet Kalender-Widgets, wählt freie Zeitfenster, trägt
                                        Ihre
                                        Daten ein, lädt .ICS-Dateien herunter.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span
                                    style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Formularassistent</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:491.33px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span
                                    style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Erkennt Pflichtfelder, schlägt gültige Werte vor und
                                        prüft
                                        Formatierung (E-Mail, Telefon etc.).</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span
                                    style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Datenextraktion</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:491.33px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span
                                    style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Scrollt durch Seiten, kopiert Tabellen oder Downloads und
                                        stellt
                                        sie als CSV/PDF bereit.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span
                                    style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Demo-Flows</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="border-color:#bfbfbf;height:56.67px;padding:1px;vertical-align:middle;width:491.33px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span
                                    style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Erstellt klickbare Schritt-für-Schritt-Anleitungen für
                                        Endnutzer,
                                        inklusive Screenshots.</span></span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </figure>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            &nbsp;
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Wichtig: Der Agent führt nie Aktionen ohne Ihr explizites „Ja bitte“ durch. Jede Eingabe
                    kommt von
                    Ihnen, jede Ausführung wird bestätigt.</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            &nbsp;
        </p>
        <h3 style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18px;"><span lang="de-DE"
                    dir="ltr"><strong>3 | So funktioniert der Agentenmodus&nbsp;auf
                        KomplettWebdesign.de</strong></span></span>
        </h3>
        <ol style="list-style-type:decimal;">
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                            lang="de-DE" dir="ltr">Gehe zunächst auf ChatGPT</span></span>
                </p>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    &nbsp;
                </p>
            </li>
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                            lang="de-DE" dir="ltr">Wählender dort den Agentenmodus aus</span></span>
                </p>
            </li>
        </ol>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            &nbsp;
        </p>
        <ol style="list-style-type:decimal;" start="3">
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                            lang="de-DE" dir="ltr">Gebe nun im Chat folgendes ein:&nbsp;</span></span>
                </p>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                            dir="ltr">Gehe auf
                            die Seite Komplettwebdesign.de und buche</span>&nbsp;</span>
                </p>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                            dir="ltr">dort
                            einen Beratungstermin für mich.&nbsp;</span></span>
                </p>
                <ol style="list-style-type:decimal;">
                    <li>
                        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                    lang="de-DE" dir="ltr">Du kannst deine Anfrage entsprechend genauer
                                    formulieren:</span>&nbsp;</span>
                        </p>
                        <ul style="list-style-type:disc;">
                            <li>
                                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                                    <span
                                        style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                            lang="de-DE" dir="ltr">Der Termin soll am besten am Wochenende
                                            sein</span></span>
                                </p>
                            </li>
                            <li>
                                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                                    <span
                                        style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                            lang="de-DE" dir="ltr">Der Termin soll am Abend sein</span></span>
                                </p>
                            </li>
                            <li>
                                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                                    <span
                                        style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                            lang="de-DE" dir="ltr">Zeige mir zunächst alle verfügbaren
                                            Termine</span>&nbsp;</span>
                                </p>
                                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                                    &nbsp;
                                </p>
                            </li>
                        </ul>
                    </li>
                </ol>
            </li>
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                            lang="de-DE" dir="ltr">Der Agent wechselt in den Browser-Modus und zeigt live an, was er
                            tut:</span></span>
                </p>
                <ol style="list-style-type:decimal;">
                    <li>
                        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                    lang="de-DE" dir="ltr">Seite öffnen: komplettwebdesign.de</span></span>
                        </p>
                    </li>
                    <li>
                        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                    lang="de-DE" dir="ltr">Button „Termin buchen“ anklicken</span></span>
                        </p>
                    </li>
                    <li>
                        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                    lang="de-DE" dir="ltr">Formularschritte (Paket, Seitenumfang …)
                                    durchlaufen</span></span>
                        </p>
                    </li>
                    <li>
                        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                    lang="de-DE" dir="ltr">Ihre Kontaktdaten (die Sie angeben) einsetzen</span></span>
                        </p>
                    </li>
                    <li>
                        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                    lang="de-DE" dir="ltr">Terminübersicht prüfen und auf Absenden klicken</span></span>
                        </p>
                        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                            &nbsp;
                        </p>
                    </li>
                </ol>
            </li>
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                            lang="de-DE" dir="ltr">Bestätigung erscheint + optionaler Download-Link „Termin als
                            ICS“.</span></span>
                </p>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    &nbsp;
                </p>
            </li>
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                            lang="de-DE" dir="ltr">Der Agent lädt die .ics-Datei herunter und stellt sie direkt im Chat
                            bereit.</span></span>
                </p>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    &nbsp;
                </p>
            </li>
        </ol>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr"><strong>Alles passiert in wenigen Sekunden, ohne dass Sie selbst scrollen oder klicken
                        müssen.</strong></span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            &nbsp;
        </p>
        <h3 style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18px;"><span lang="de-DE"
                    dir="ltr"><strong>4 | Schritt-für-Schritt-Anleitung: Termin allein per Agent
                        buchen</strong></span></span>
        </h3>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Folgen Sie dieser Checkliste, um es selbst zu testen – kein Vorwissen nötig.</span></span>
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            &nbsp;
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            &nbsp;
        </p>
        <h4 style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18.67px;"><span lang="de-DE"
                    dir="ltr"><strong><u>Schritt 1 – Chat starten</u></strong></span></span>
        </h4>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Gehe zunächst auf dem Handy, iPad oder PC auf ChatGPT und erstelle eine neue
                    Anfrage</span></span>
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            &nbsp;
        </p>
        <h4 style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18.67px;"><span lang="de-DE"
                    dir="ltr"><strong><u>Schritt 2 – Agentenmodus starten</u></strong></span></span>
        </h4>
        <figure class="image" data-ckbox-resource-id="cDaZM9IrmTcv" style="text-align:center;">
            <picture>
                <source
                    srcset="https://ckbox.cloud/021c850cff10d81e9bb2/assets/cDaZM9IrmTcv/images/80.webp 80w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/cDaZM9IrmTcv/images/160.webp 160w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/cDaZM9IrmTcv/images/201.webp 201w"
                    sizes="(max-width: 201px) 100vw, 201px" type="image/webp"><img class="WACImage SCXW137839102 BCX0"
                    style="-webkit-tap-highlight-color:transparent;-webkit-text-stroke-width:0px;-webkit-user-drag:none;background-color:rgb(255, 255, 255);border-style:none;color:rgb(0, 0, 0);font-family:&quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, Arial, Verdana, sans-serif;font-size:12px;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-weight:400;letter-spacing:normal;margin:0px;orphans:2;padding:0px;text-align:center;text-decoration-color:initial;text-decoration-style:initial;text-decoration-thickness:initial;text-indent:0px;text-transform:none;text-wrap-mode:nowrap !important;user-select:text;vertical-align:baseline;white-space-collapse:preserve;widows:2;word-spacing:0px;"
                    src="https://ckbox.cloud/021c850cff10d81e9bb2/assets/cDaZM9IrmTcv/images/201.png" width="134"
                    height="277" unselectable="on" uploadprocessed="true">
            </picture>
        </figure>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Öffnen zunächst mithilfe des „+“ oder auf PC den Bereich “Tools” am unteren linken
                    Bildschirmrand
                    die Optionen und wähle dort den „Agentenmodus aus“</span></span>
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            &nbsp;
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            &nbsp;
        </p>
        <h4 style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18.67px;"><span lang="de-DE"
                    dir="ltr"><strong><u>Schritt 3 – Bitte formulieren</u></strong></span></span>
        </h4>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            <picture>
                <source
                    srcset="https://ckbox.cloud/021c850cff10d81e9bb2/assets/zU10GuR7MO7R/images/194.webp 194w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/zU10GuR7MO7R/images/388.webp 388w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/zU10GuR7MO7R/images/582.webp 582w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/zU10GuR7MO7R/images/776.webp 776w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/zU10GuR7MO7R/images/970.webp 970w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/zU10GuR7MO7R/images/1164.webp 1164w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/zU10GuR7MO7R/images/1358.webp 1358w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/zU10GuR7MO7R/images/1552.webp 1552w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/zU10GuR7MO7R/images/1746.webp 1746w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/zU10GuR7MO7R/images/1936.webp 1936w"
                    sizes="(max-width: 1936px) 100vw, 1936px" type="image/webp"><img
                    src="https://ckbox.cloud/021c850cff10d81e9bb2/assets/zU10GuR7MO7R/images/1936.png" alt=""
                    width="605" height="280" uploadprocessed="true" data-ckbox-resource-id="zU10GuR7MO7R">
            </picture>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-left:-15px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:17.33px;"><span lang="de-DE"
                    dir="ltr">Sie: „</span></span><span
                style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE" dir="ltr">Gehe auf
                    die Seite Komplettwebdesign.de und buche dort einen Beratungstermin für
                    mich.</span></span><span
                style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:17.33px;"><span lang="de-DE"
                    dir="ltr">.“</span></span>
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Tipps:</span></span>
        </p>
        <ul style="list-style-type:disc;">
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                            lang="de-DE" dir="ltr">Je klarer Uhrzeit/Datum, desto weniger Rückfragen.</span></span>
                </p>
            </li>
            <li>
                <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
                    <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                            lang="de-DE" dir="ltr">Wenn Sie flexibel sind, schreiben Sie „nächstmöglicher
                            Termin“.</span></span>
                </p>
            </li>
        </ul>
        <h4 style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr"><strong>Schritt 4 – Agent bestätigt und fragt Details</strong></span></span>
        </h4>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Der Chat zeigt an, welche Angaben fehlen – z. B. Name, E-Mail, Telefon.</span></span>
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            &nbsp;
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            &nbsp;
        </p>
        <h4 style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18.67px;"><span lang="de-DE"
                    dir="ltr"><strong><u>Schritt 4 – Live-Ausführung beobachten</u></strong></span></span>
        </h4>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            <picture>
                <source
                    srcset="https://ckbox.cloud/021c850cff10d81e9bb2/assets/gzsU7omvCa2n/images/120.webp 120w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/gzsU7omvCa2n/images/240.webp 240w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/gzsU7omvCa2n/images/360.webp 360w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/gzsU7omvCa2n/images/480.webp 480w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/gzsU7omvCa2n/images/600.webp 600w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/gzsU7omvCa2n/images/720.webp 720w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/gzsU7omvCa2n/images/840.webp 840w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/gzsU7omvCa2n/images/960.webp 960w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/gzsU7omvCa2n/images/1080.webp 1080w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/gzsU7omvCa2n/images/1196.webp 1196w"
                    sizes="(max-width: 1196px) 100vw, 1196px" type="image/webp"><img
                    src="https://ckbox.cloud/021c850cff10d81e9bb2/assets/gzsU7omvCa2n/images/1196.png" alt=""
                    width="605" height="427" uploadprocessed="true" data-ckbox-resource-id="gzsU7omvCa2n">
            </picture>
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Sie sehen (oder lesen) jeden Klick: Paketwahl » Seitenumfang » Texte/Bilder » Funktionen »
                    Termin.
                    Du kannst über den Bereich live zusehen was passiert:</span></span>
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            <picture>
                <source
                    srcset="https://ckbox.cloud/021c850cff10d81e9bb2/assets/l5JTafKckA3m/images/158.webp 158w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/l5JTafKckA3m/images/316.webp 316w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/l5JTafKckA3m/images/474.webp 474w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/l5JTafKckA3m/images/632.webp 632w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/l5JTafKckA3m/images/790.webp 790w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/l5JTafKckA3m/images/948.webp 948w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/l5JTafKckA3m/images/1106.webp 1106w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/l5JTafKckA3m/images/1264.webp 1264w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/l5JTafKckA3m/images/1422.webp 1422w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/l5JTafKckA3m/images/1574.webp 1574w"
                    sizes="(max-width: 1574px) 100vw, 1574px" type="image/webp"><img
                    src="https://ckbox.cloud/021c850cff10d81e9bb2/assets/l5JTafKckA3m/images/1574.png" alt=""
                    width="605" height="31" uploadprocessed="true" data-ckbox-resource-id="l5JTafKckA3m">
            </picture>
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Sie können jederzeit „Stop“ schreiben, um abzubrechen.</span></span>
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            &nbsp;
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            &nbsp;
        </p>
        <h4 style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18.67px;"><span lang="de-DE"
                    dir="ltr"><strong><u>Schritt 5 – Daten angeben</u></strong></span></span>
        </h4>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            <picture>
                <source
                    srcset="https://ckbox.cloud/021c850cff10d81e9bb2/assets/RkDMg5K08_6t/images/166.webp 166w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/RkDMg5K08_6t/images/332.webp 332w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/RkDMg5K08_6t/images/498.webp 498w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/RkDMg5K08_6t/images/664.webp 664w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/RkDMg5K08_6t/images/830.webp 830w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/RkDMg5K08_6t/images/996.webp 996w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/RkDMg5K08_6t/images/1162.webp 1162w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/RkDMg5K08_6t/images/1328.webp 1328w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/RkDMg5K08_6t/images/1494.webp 1494w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/RkDMg5K08_6t/images/1652.webp 1652w"
                    sizes="(max-width: 1652px) 100vw, 1652px" type="image/webp"><img
                    src="https://ckbox.cloud/021c850cff10d81e9bb2/assets/RkDMg5K08_6t/images/1652.png" alt=""
                    width="605" height="243" uploadprocessed="true" data-ckbox-resource-id="RkDMg5K08_6t">
            </picture>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:17.33px;"><span lang="de-DE"
                    dir="ltr"><strong>Dort gibst du etwas in der Art wie:</strong></span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Name: Max Mustermann</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">E-Mail: max@mustermann.de</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Telefon: 030-1234567</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Firma: Muster &amp; Co.</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;text-align:center;">
            &nbsp;
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;text-align:center;">
            &nbsp;
        </p>
        <h4 style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18.67px;"><span lang="de-DE"
                    dir="ltr"><strong><u>Schritt 6 – Bestätigen &amp; Absenden</u></strong></span></span>
        </h4>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            <picture>
                <source
                    srcset="https://ckbox.cloud/021c850cff10d81e9bb2/assets/AhZ1URw7HTqf/images/165.webp 165w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/AhZ1URw7HTqf/images/330.webp 330w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/AhZ1URw7HTqf/images/495.webp 495w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/AhZ1URw7HTqf/images/660.webp 660w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/AhZ1URw7HTqf/images/825.webp 825w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/AhZ1URw7HTqf/images/990.webp 990w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/AhZ1URw7HTqf/images/1155.webp 1155w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/AhZ1URw7HTqf/images/1320.webp 1320w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/AhZ1URw7HTqf/images/1485.webp 1485w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/AhZ1URw7HTqf/images/1650.webp 1650w"
                    sizes="(max-width: 1650px) 100vw, 1650px" type="image/webp"><img
                    src="https://ckbox.cloud/021c850cff10d81e9bb2/assets/AhZ1URw7HTqf/images/1650.png" alt=""
                    width="605" height="437" uploadprocessed="true" data-ckbox-resource-id="AhZ1URw7HTqf">
            </picture>
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Der Agent zeigt eine tabellarische Zusammenfassung Ihrer Angaben + Button
                    Absenden.</span></span>
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Schreiben Sie „Ja bitte“ → Assistent klickt und sendet das Formular ab.</span></span>
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            &nbsp;
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            &nbsp;
        </p>
        <h4 style="line-height:1;margin-bottom:10.67px;margin-top:0px;text-align:center;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18.67px;"><span lang="de-DE"
                    dir="ltr"><strong><u>Schritt 7 – Kalenderdatei herunterladen</u></strong></span></span>
        </h4>
        <h4 style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Im
                    Fall von meiner Website hast du die Möglichkeit, dass du dir den Termin per ics-Datei herunterladen
                    kannst
                    und somit im Kalender speichern kannst. Den Termin sowie eine Bestätigung erhältst du ebenfalls per
                    Mail.</span>&nbsp;</span>
        </h4>
        <h4 style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Schreibe dazu einfach: „Bitte die Datei zur Verfügung stellen.“</span></span>
        </h4>
        <figure class="image" data-ckbox-resource-id="qbdgjv-0g8p6" style="text-align:center;">
            <picture>
                <source
                    srcset="https://ckbox.cloud/021c850cff10d81e9bb2/assets/qbdgjv-0g8p6/images/91.webp 91w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/qbdgjv-0g8p6/images/182.webp 182w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/qbdgjv-0g8p6/images/273.webp 273w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/qbdgjv-0g8p6/images/364.webp 364w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/qbdgjv-0g8p6/images/455.webp 455w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/qbdgjv-0g8p6/images/546.webp 546w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/qbdgjv-0g8p6/images/637.webp 637w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/qbdgjv-0g8p6/images/728.webp 728w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/qbdgjv-0g8p6/images/819.webp 819w,https://ckbox.cloud/021c850cff10d81e9bb2/assets/qbdgjv-0g8p6/images/907.webp 907w"
                    sizes="(max-width: 907px) 100vw, 907px" type="image/webp"><img class="WACImage SCXW788699 BCX0"
                    style="-webkit-tap-highlight-color:transparent;-webkit-text-stroke-width:0px;-webkit-user-drag:none;background-color:rgb(255, 255, 255);border-style:none;color:rgb(0, 0, 0);font-family:&quot;Segoe UI&quot;, &quot;Segoe UI Web&quot;, Arial, Verdana, sans-serif;font-size:12px;font-style:normal;font-variant-caps:normal;font-variant-ligatures:normal;font-weight:400;letter-spacing:normal;margin:0px;orphans:2;padding:0px;text-align:left;text-decoration-color:initial;text-decoration-style:initial;text-decoration-thickness:initial;text-indent:0px;text-transform:none;text-wrap-mode:nowrap !important;user-select:text;vertical-align:baseline;white-space-collapse:preserve;widows:2;word-spacing:0px;"
                    src="https://ckbox.cloud/021c850cff10d81e9bb2/assets/qbdgjv-0g8p6/images/907.png" width="605"
                    height="261" unselectable="on" uploadprocessed="true">
            </picture>
        </figure>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Der Chat liefert eine Datei wie</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:13.33px;"><span lang="de-DE"
                    dir="ltr">Beratungstermin.ics &nbsp; (542 Byte)</span></span>
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Klick → Ihr Kalender (Outlook, Apple, Google…) öffnet den Eintrag. Fertig!</span></span>
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            &nbsp;
        </p>
        <h3 style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18px;"><span lang="de-DE"
                    dir="ltr"><strong>5 | Praxisbeispiel: Sörens Terminbuchung in
                        Kurzform</strong></span><strong>&nbsp;</strong></span>
        </h3>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:17.33px;"><span lang="de-DE"
                    dir="ltr"><u>Ablauf (gekürzt):</u></span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            &nbsp;
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:17.33px;"><span lang="de-DE"
                    dir="ltr">1️⃣ Sören: „Gehe auf Komplettwebdesign.de und buche dort einen
                    Beratungstermin.“</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:17.33px;"><span lang="de-DE"
                    dir="ltr">2️⃣ Agent: klickt sich durch alle Formularschritte.</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:17.33px;"><span lang="de-DE"
                    dir="ltr">3️⃣ Agent: „Gib mir bitte Name, Mail, Telefon, Firma.“</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:17.33px;"><span lang="de-DE"
                    dir="ltr">4️⃣ Sören: „Sören / Kontakt@komplettwebdesign.de / 0123456789 / Design“</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:17.33px;"><span lang="de-DE"
                    dir="ltr">5️⃣ Agent: wählt Termin 05.08.2025 18 Uhr, zeigt Zusammenfassung.</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:17.33px;"><span lang="de-DE"
                    dir="ltr">6️⃣ Sören: „Ja bitte.“</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:17.33px;"><span lang="de-DE"
                    dir="ltr">7️⃣ Agent: klickt Absenden, lädt Beratungstermin.ics hoch.</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:17.33px;"><span lang="de-DE"
                    dir="ltr">8️⃣ Chat: liefert Datei + Erfolgsmeldung.</span></span>
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            &nbsp;
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Ergebnis: Termin ist gebucht, Sören hat den Kalendereintrag – ohne eine einzige
                    Mausbewegung.</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            &nbsp;
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18px;"><span lang="de-DE"
                    dir="ltr"><strong>6 | FAQ: ChatGPT Agentenmodus</strong></span><strong>&nbsp;</strong></span>
        </p>
        <h3 style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            &nbsp;
        </h3>

        <figure class="table" style="margin-left:0px;margin-right:auto;width: 100%;min-width: 300px;">
            <table style="border-collapse:separate;border-color:#bfbfbf;border-spacing:5px;border-style:solid;">
                <thead>
                    <tr>
                        <th style="border-color:#bfbfbf;padding:1px;vertical-align:middle;width:189px;" scope="col">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;text-align:justify;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Frage</strong></span></span>
                            </p>
                        </th>
                        <th style="border-color:#bfbfbf;padding:1px;vertical-align:middle;width:419px;" scope="col">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;text-align:justify;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Antwort</span></span>
                            </p>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Wie funktioniert der ChatGPT
                                            Agentenmodus?</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:419px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">ChatGPT steuert in einem sicheren Headless-Browser Maus-
                                        und Tastaturaktionen:
                                        Er öffnet Websites, erkennt Formularfelder per DOM-Analyse, füllt sie mit Ihren
                                        Angaben,
                                        klickt Buttons und liefert Downloads zurück. Jede Aktion wird live protokolliert
                                        und
                                        erst nach Ihrer Bestätigung ausgeführt.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Agentenmodus ChatGPT – was ist
                                            das?</strong></span></span>
                            </p>
                        </td>
                        <td style="border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:419px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Ein interaktiver Automationsmodus, der ChatGPT zum
                                        „Web-Roboter“ macht.
                                        Anstatt nur Texte zu liefern, erledigt der Agent konkrete Aufgaben (Termin
                                        buchen, PDF
                                        downloaden …).</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Erklärung Agentenmodus
                                            (ChatGPT)</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:419px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Der Modus kombiniert natürliche Spracheingaben (Ihre
                                        Anweisungen) mit
                                        Browser-Automation. Er liest HTML-Elemente, setzt Werte und navigiert – ähnlich
                                        wie ein
                                        menschlicher Nutzer, nur schneller + fehlerfrei.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Was kann ich mit dem Agentenmodus von ChatGPT
                                            machen?</strong></span></span>
                            </p>
                        </td>
                        <td style="border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:419px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Typische Use-Cases: Termine vereinbaren, Kontaktformulare
                                        ausfüllen,
                                        Vergleichstabellen extrahieren, .ICS-Kalender oder Rechnungs-PDFs herunterladen,
                                        Bestellprozesse testen, Schritt-für-Schritt-Demos erstellen.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Agentenmodus ChatGPT Schritt für
                                            Schritt</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:419px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">1️⃣ Chat öffnen → 2️⃣ Aufgabe formulieren („Buche mir …“)
                                        → 3️⃣ Fehlende Daten
                                        eingeben → 4️⃣ Live-Klickstrecke verfolgen → 5️⃣ Zusammenfassung prüfen → 6️⃣
                                        „Ja bitte“
                                        schreiben → 7️⃣ Datei/Bestätigung erhalten.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>ChatGPT Browser-Modus vs.
                                            Agentenmodus</strong></span></span>
                            </p>
                        </td>
                        <td style="border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:419px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Der reine Browser-Modus zeigt nur Seiteninhalte. Der
                                        Agentenmodus handelt – er
                                        klickt, tippt und bestätigt, wodurch echte Transaktionen (Buchungen, Logins)
                                        möglich
                                        werden.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Kann der Agent Formulare automatisch
                                            ausfüllen?</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:419px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Ja. Er identifiziert Pflichtfelder (Name, E-Mail, Tel …)
                                        via
                                        Label-/Input-Mapping, prüft Formate (Regex) und füllt sie mit Ihren
                                        Chat-Angaben.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Agentenmodus einfach
                                            erklärt</strong></span></span>
                            </p>
                        </td>
                        <td style="border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:419px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Denken Sie an einen persönlichen Online-Assistenten, der
                                        exakt das tut, was
                                        Sie sonst selbst per Maus und Tastatur erledigen – nur durch Chat-Befehle
                                        gesteuert.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>ChatGPT Terminbuchung – wie läuft das
                                            ab?</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:419px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Der Agent öffnet das Buchungs-Widget, listet verfügbare
                                        Slots, wählt Ihren
                                        Wunschtermin, trägt Kontaktdaten ein, sendet das Formular und liefert eine
                                        .ICS-Datei
                                        zum Import in Ihren Kalender.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Termin mit ChatGPT Agent buchen –
                                            Beispiel?</strong></span></span>
                            </p>
                        </td>
                        <td style="border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:419px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Sie tippen: „Buche den frühestmöglichen Beratungstermin.“
                                        → Agent wählt Di
                                        05.08. 18 Uhr → fragt Name/E-Mail → zeigt Zusammenfassung → klickt „Absenden“ →
                                        liefert
                                        Beratungstermin.ics.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Wie bediene ich den ChatGPT
                                            Agentenmodus?</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:419px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Direkt im Chat: Geben Sie klare Befehle, beantworten Sie
                                        Rückfragen,
                                        bestätigen Sie mit „Ja bitte“. Keine Installation nötig.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Ist das sicher?</strong></span></span>
                            </p>
                        </td>
                        <td style="border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:419px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Ja. Alle Aktionen laufen in einer sandboxed-Instanz; der
                                        Agent sendet nur die
                                        Daten, die Sie im Chat nennen. Jeder kritische Schritt erfordert Ihre explizite
                                        Zustimmung.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Kann ich Aktionen rückgängig
                                            machen?</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:419px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Bis zum Klick auf „Absenden“ können Sie „Stop“ oder
                                        „Abbrechen“ schreiben; der
                                        Prozess beendet sich sofort.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Welche Daten speichert
                                            KomplettWebdesign?</strong></span></span>
                            </p>
                        </td>
                        <td style="border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:419px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Nur die Angaben, die für den gebuchten Termin nötig sind
                                        (Name, Mail, Telefon,
                                        gewünschter Slot). Nichts davon wird zu Werbezwecken
                                        weitergegeben.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Funktioniert das auch
                                            mobil?</strong></span></span>
                            </p>
                        </td>
                        <td
                            style="background-color:#f2f2f2;border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:419px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Ja – der Agent passt Scroll- und Klickbefehle an die
                                        mobile Ansicht an. Sie
                                        chatten einfach über das Smartphone-Fenster.</span></span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:189px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr"><strong>Kann ich mehrere Termine
                                            vergleichen?</strong></span></span>
                            </p>
                        </td>
                        <td style="border-color:#bfbfbf;height:113.4px;padding:1px;vertical-align:middle;width:419px;">
                            <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
                                <span style="font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span
                                        lang="de-DE" dir="ltr">Bitten Sie den Agenten: „Zeige alle freien Termine im
                                        August.“ Er listet
                                        Slots, Sie wählen den passenden aus.</span></span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </figure>
        <h3 style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            &nbsp;
        </h3>
        <h3 style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:18px;"><span lang="de-DE"
                    dir="ltr"><strong>7 | Fazit</strong></span></span>
        </h3>
        <h3 style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            &nbsp;
        </h3>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Der Agentenmodus macht das Web interaktiver und barrierefrei: Statt selbst durch
                    Klick-Orgien zu
                    navigieren, geben Sie einfach Anweisungen in natürlicher Sprache. Ihr Termin, Ihre Datei, Ihr
                    Formular –
                    alles wird in Sekunden erledigt.</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Testen es jetzt:</span></span>
        </p>
        <p style="line-height:1;margin-bottom:0px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Öffne ChatGPT, starten den Agentenmodus und buche ein Termin bei uns. Wenn du eh schon
                    hier bist,
                    kannst du es sonst auch hier selbst versuchen: </span></span><a target="_blank"
                rel="noopener noreferrer" href="http://www.komplettwebdesign.de/kontakt"><span
                    style="color:#0563c1;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                        dir="ltr"><u>www.Komplettwebdesign.de/kontakt</u></span></span></a><span
                style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">
                    &nbsp;</span></span>
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            &nbsp;
        </p>
        <p style="line-height:1;margin-bottom:10.67px;margin-top:0px;">
            <span style="color:#000000;font-family:Arial, Helvetica, sans-serif;font-size:16px;"><span lang="de-DE"
                    dir="ltr">Viel Erfolg und bis bald bei Ihrem persönlichen Beratungsgespräch!</span></span>
        </p>
    </div>
</div>