<%- include("../partials/head") %>
    <%- include('../partials/header') %>
        <div class="section">
            <div class="container">
                <h1 class="white">Termin storniert</h1>
                <p class="white">Ihr Termin wurde storniert. Wir haben die Verwaltung informiert.</p>
            </div>
        </div>
        <%- include('../partials/footer') %>