<%- include("../partials/head") %>
    <%- include('../partials/header') %>
        <div class="section">
            <div class="container">
                <h1 class="white">Termin vergeben</h1>
                <p class="white">Leider war jemand schneller. Bitte wählen Sie einen anderen Termin.</p>
            </div>
        </div>

        <%- include('../partials/footer') %>