<%- include("../partials/head") %>
<%- include("../partials/header") %>
<div class="container">
  <h1>Abmeldung erfolgreich</h1>
  <p>Du wurdest erfolgreich vom Newsletter abgemeldet.</p>
  <p>Falls du dich in Zukunft wieder anmelden möchtest, kannst du das jederzeit tun.</p>
  <p>Vielen Dank für dein Interesse!</p>
  <a href="/" class="btn btn-primary">Zurück zur Startseite</a>
</div>
<%- include("../partials/footer") %>